#logo{
height:300px;
width: 100%;
text-align: center;
}

#menu{
text-align: center;
 margin-top: 7px;
}
#menu a {
text- decoration: none;
color : white;
font- size:100px;
border: 3px solid #769752;
border-radius: 10px ;
padding: 2px 15px;

transition:background-color 1s
                  transition: color 1s;
}
#menu a :hover{
border color: green;
background-color : #22212B;
color: black;

}
#info{
margin: 20px 200px;
text-align:center;
}

.center{
text-align: center;
}


