#logo{
     background: orange;
                overflow: hidden;
                color: white;

}
#logo img{
  width: 100%
  center;
   }

.logo{
background: solid green;
                display : flex;
                justify-content:center;
                    color: white;
}
.menu{
 justify-content:center;
  display : flex;
}