.row {
    text-align: center;
    border: 3px solid #769752;   /*zgniły zielony*/
    border-radius: 10px;
    width: 90%;
    font-size: 20px;
    margin: 10px auto;
    color: white;  /*niebieski*/
    cursor: default;
    transition: color, background-color 2s;
    -webkit-transition: color, background-color 2s;
    -ms-transition: color, background-color 2s;
}

.row:hover {
    background-color: #2BA7E3; /*niebieski*/
    color: black;
}
#header{
color : green;
}

