<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="common.css">
    <style>
        body{
background-repeat: no-repeat;
background-image: url("krakow1.jpg");
background-size: cover;
}
    </style>
</head>

<body>
    <div id="center" th:replace="~{fragmenty.html::logo}"></div>
    <div th:replace="~{fragmenty.html::menu}"></div>

    <div>
        <form method="post">
            <textarea th:field="*{post.header}" rows="2" cols="70"></textarea><br>
            <textarea th:field="*{post.content}" rows="7" cols="100">  </textarea><br>
            autor:<input type="text" placeholder="Autor" class="text-input" id="author" th:field="*{post.author}">
              postId:<input type="text" placeholder="Id" class="text-input" id="id" th:field="*{post.id}"><br>
            <input type="submit" value="OK" class="button">
            <input type="reset">
        </form>
    </div>

</body>
</html>