<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="common.css">
<style>

</style>
</head>
<body>
<div id="logo" th:fragment="logo">
    <img src="logo.jpg" width="700" height="300">
</div>
<div id="menu" th:fragment="menu">
    <a href="/main">Strona główna</a>
    <a href="/posts">Nowinki i Posty</a>
    <a href="/contact">Kontakt</a>
    <a th:if="${!sessionObject.isLogged()}" href="/register" >Zarejestruj</a>
    <a th:if="${!sessionObject.isLogged()}" href="/login" >Zaloguj</a>
    <a th:if="${sessionObject.isLogged()}" href="/logout" >Wyloguj</a>
</div>
<div id="postMenu" th:fragment="postMenu">
    <div><a th:if="${sessionObject.isLogged()}" href="/add/post" class="button">Dodaj Post</a></div>

</div>
</body>
</html>