<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <style>
    p{
        color: white;
    }
    body{
        background-repeat: no-repeat;
        background-image: url("krakow.jpg");
        background-size: cover;
    }
    #zarejestruj{
   font-family: "Sofia", sans-serif;
    }
    </style>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="login.css">
    <script src="/userValidator.js"></script>
</head>
<body>
<div id="logo" th:replace="~{fragmenty.html::logo}"></div>
<div th:replace="~{fragmenty.html::menu}"></div>
<div id="content">
    <form method="post" id="form" onsubmit="return validateLoginForm()">
        <input type="text" placeholder="Login" class="text-input" name="login" id="login">
        <input type="password" placeholder="Password" class="text-input" name="password" id="password">
        <input type="submit" value="Zaloguj" class="button">

    </form>
    <p>Nie masz konta? Zarejestruj się już teraz!</p>

</div>
<div class="center"><a id="zarejestruj" style="color:#D4B300;" class="button" href="/register">Zarejestruj</a></div>
</body>
</html>