<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum Krakowskie</title>
    <link rel="stylesheet" href="common.css">
</head>
<body>
    <div th:text="${welcome}"></div>
    <a th:text="${successfullyLogged}"></a>
<div class="logo">
    <div th:replace="~{fragmenty.html::logo}"> </div>
    <a  href="/register" class="button">Zarejestruj</a>
    <a href="/login">Zaloguj</a>
</div>
<div id="menu">
</div>
<div id="content"></div>


</body>
</html>