<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div>
  <form method="post">
    <textarea th:field="*{post.header}" rows="2" cols="70"></textarea><br>
    <textarea th:field="*{post.content}" rows="7" cols="100">  </textarea><br>
    <input type="text" placeholder="Autor" th:field="*{post.author}"><br>
    <input type="submit" value="Zapisz" class="button">
  </form>
</div>





</body>
</html>  EDIT!!!!!!!

<div id="logo" th:replace="~{fragmenty.html::logo}"></div>
<div th:replace="~{fragmenty.html::menu}"></div>


<div class="row" th:each="post : ${postList}">
    <div style="font-size:1vw"><h1 th:text="${post.getHeader}"></h1></div>
    <div th:text="${post.getContent}" class="contenty"></div>
    <div class="authorPost"><p style="color:#2BA7E3;">autor</p></div>
    <div th:text="${post.getAuthor}" class="author"></div>
    <a th:if="${sessionObject.isAdmin()}" th:href="@{/edit/{id}(id=${post.Id})}" class="button">Edytuj Post</a>
    <a th:if="${sessionObject.isModerator()}" th:href="@{/edit/{id}(id=${post.Id})}" class="button">Edytuj Post</a>
    <a th:if="${sessionObject.isLogged()}" th:href="@{/post/commment/{id}(id=${post.Id})}" class="button">Skomentuj</a>
</div>
<div class="center"><IMG SRC="pass.gif" class="center"></div>
