<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <style>
        body{
background-repeat: no-repeat;
background-image: url("krakow.jpg");
background-size: cover;

}
.row{
font-family: "Audiowide", sans-serif;
}

    </style>
    <meta charset="UTF-8">
    <title>News</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="post.css">
</head>
<body>
<div id="logo" th:replace="~{fragmenty.html::logo}"></div>

<div th:replace="~{fragmenty.html::menu}"></div>
<div id="content"></div>

<div class="row" th:each="post : ${postList}">

    <div style="font-size:1vw"><h1 th:text="${post.getHeader}"></h1></div>
    <div th:text="${post.getContent}" class="contenty"></div>
    <! klasy content jest div rodzicowy ,wyżej!!!!>
    <div class="authorPost"><p style="color:#2BA7E3;">To jest autor</p>
        <div th:text="${post.getAuthor}" class="author"></div>
    </div>
</div>


</body>
</html>